

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Lobster", serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}


nav ul li{
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.brand img{
    width: 50px;
    padding: 0 8px;
}
.container{
    min-height: 72vh;
    background-color: black;
    color:white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 30px;
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100vh;
    font-family: "Lobster", serif;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
    
}
 #myProgressBar{
    width: 80vw;
}

.icons{
    margin-top:14px;
}
.icons i {
    cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    align-items: center;
    justify-content:space-between;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 50%;
   
 

}

.timestamp{
    margin: 0 23px;
    
}

.timestamp  i{
cursor: pointer;

}
.songItemContainer{
    margin-top: 74px;
}
.songInfo{
    position: absolute;
    left: 10vw;
     font-family: "Lobster", serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}